.elementor-control-section_widgetkit_pro_box{
    .elementor-panel-heading{
        color:#d30a5c;
        .elementor-section-toggle{
            i{
                color:#d30a5c;
            }
        }
        .elementor-panel-heading-title{
            color:#d30a5c;
        }
    }
}
.elementor-control-wkfe_control_go_pro{
    .elementor-control-field{
        display:none;
    }
    .elementor-control-field-description{
        .elementor-nerd-box-message{
            font-size:14px;
        }
    }
    .widgetkit-go-pro{
        background:#d30a5c !important;
    }
    .elementor-nerd-box{
        padding:10px 0px 30px;
        .elementor-nerd-box-message{
            margin-top:0px;
        }
    }
    
}
