/************************************************************************
*  Contact form css
************************************************************************/

.wk-form-button-full-width{
  .wk-contact-form{
      button, input[type="button"], input[type="reset"], input[type="submit"]{
         width:100%;

      }
  }
  
}

  .wk-contact-form{
      button, input[type="button"], input[type="reset"], input[type="submit"]{
        padding: 10px 20px;

      }
      label{
        display:block;
      }
      @media(max-width:768px){
        padding:10px;
      }

      .wpuf-style{
        li {
            list-style: none;
        }

      } 
  }


