
/************************************************************************
*  custom Project
************************************************************************/

.tgx-project .project-image {
    position: relative;
    max-height: 400px;
    overflow: hidden;
    cursor: pointer;
  }
  .tgx-project .project-image:before {
    content: "";
    position: absolute;
    background: #000;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
  .tgx-project .title {
    opacity: 0;
    margin: 20px 0;
    font-size: 18px
  }
  
  .tgx-project .center .title {
    opacity: 1;
  }
  .tgx-project .project-wrap .title a{
      color: #444;
  }
  .tgx-project .center .project-image {
    position: relative;
  }
  .tgx-project .center .project-image:before {
    content: "";
    position: absolute;
    background: #000;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
  
  .tgx-project .owl-carousel-left,
  .tgx-project .owl-carousel-right {
    position: absolute;
    top: 36%;
    border: 1px solid #fff;
    width: 50px;
    height: 50px;
    text-align: center;
    cursor: pointer;
    margin: 0px 50px;
    transition: all 0.3s ease;
    line-height: 52px;
    border-radius: 0;
    padding: 0;
    // border:none;
  }
  .tgx-project .owl-carousel-right {
    right: 0;
  }
  .tgx-project:hover .owl-carousel-left,
  .tgx-project:hover .owl-carousel-right {
    opacity: 1;
    transition: all 0.3s ease;
  }
  
  
  
  
  
  