
/************************************************************************
*  Slider 2 css
************************************************************************/
.tgx-slider-2 {
    position: relative;
  }
  .tgx-slider-2 .carousel {
    overflow: hidden;
  }
  .tgx-slider-2 .carousel:hover .carousel-control.right-control,
  .tgx-slider-2 .carousel:hover .carousel-control.left-control {
    opacity: 1;
    transition: all 0.3s ease;
    margin: 0 60px;
  }
  .tgx-slider-2 .carousel:hover .carousel-control {
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
  }
  .tgx-slider-2 .carousel:hover .carousel-control.left {
    margin-left: 0;
    margin-left: -40px;
  }
  .tgx-slider-2 .carousel:hover .carousel-controlright {
    margin-right: 0;
    background-image: none;
    margin-right: -40px;
    right: 0;
    left: auto;
  }
  .tgx-slider-2 .carousel:hover.right-control,
  .tgx-slider-2 .carousel:hover.left-control {
    background-image: none;
    background-repeat: no-repeat;
    margin: 0 50px;
    height: 35px;
    width: 35px;
    line-height: 35px;
    opacity: 0;
    top: 45%;
    border-radius: 0;
    transition: all 0.3s ease;
  }
  .tgx-slider-2 .carousel .carousel-inner .item {
    height: 703px;
  }
  .tgx-slider-2 .carousel .carousel-inner .item > img,
  .tgx-slider-2 .carousel .carousel-inner .item > a > img {
    width: 100%;
    height: 100%;
  }
  .tgx-slider-2 .carousel .carousel-inner .item:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
  }
  .tgx-slider-2 .carousel .carousel-inner .item .carousel-caption {
    width: 70%;
    margin: auto;
    left: 0;
    right: 0;
    color: #fff;
  }
  .tgx-slider-2 .carousel .carousel-inner .item .carousel-caption .slider-title {
    color: #fff;
    font-size: 52px;
    line-height: 55px;
  }
  .tgx-slider-2 .carousel .carousel-inner .item .carousel-caption .slider-description {
    margin: auto;
    font-size:18px;
  }
  .tgx-slider-2 .carousel .carousel-inner .item .carousel-caption .btn-slider {
    letter-spacing: 1px;
    transition: all 0.3s ease;
    line-height: 30px;
    border-radius: 0;
    padding: 10px 30px;
     display: inline-block;
  }


  .tgx-slider-2 .carousel .carousel-inner .item .carousel-image {
      top: 250px;
      position: absolute;
      left: -15%;
      right: -15%;
  }


  .tgx-slider-2 .carousel .carousel-indicators li {
      width: 16px;
      height: 16px;
      border-radius: 0px;
      margin: 0 3px 0 0;
      border: 1px solid #fff;
      transition: all 0.3s ease;
  }
  .tgx-slider-2 .carousel .carousel-indicators li.active {
      width: 16px;
      height: 16px;
      border: 1px solid #fff;
      position: relative;
      background-color: transparent; 
  }

  .tgx-slider-2  .carousel-indicators li, 
  .tgx-slider-2 .carousel .carousel-control{
      border: 1px solid #fff;
  }
  .tgx-slider-2 .carousel:hover .carousel-control.left {
    margin-left: 20px;
  }
  .tgx-slider-2 .carousel:hover .carousel-control.right {
    margin-right: 20px;
  }
  .tgx-slider-2 .carousel .carousel-control.right {
    background-image: none;
  }
  .tgx-slider-2 .carousel .carousel-control {
    top: 45%;
    bottom: auto;
    width: 50px;
    height: 50px;
    z-index: 10;
    opacity: 1;
    line-height: 45px;
    border-radius: 0px;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    position: absolute;

  }
  .tgx-slider-2 .carousel .carousel-control:hover:before {
    opacity: 0;
  }
  .tgx-slider-2 .carousel .carousel-control:before {
    content: "";
    position: absolute;
    width: 1px;
    height: 20px;
    top: 14px;
    bottom: 0;
  }
  .tgx-slider-2 .carousel .left {
    transition: all 0.3s ease;
  }
  .tgx-slider-2 .carousel .left:before {
    left: -1px;
    right: 0;
  }
  .tgx-slider-2 .carousel .left:hover i {
    margin-left: -50px;
    transition: all 0.3s ease;
  }
  .tgx-slider-2 .carousel .right {
    transition: all 0.3s ease;
  }
  .tgx-slider-2 .carousel .right:before {
    right: -1px;
  }
  .tgx-slider-2 .carousel .right:hover i {
    margin-left: 35px;
    transition: all 0.3s ease;
  }
  .tgx-slider-2 .carousel .carousel-control span {
       vertical-align: middle;
      font-size: 25px;
      margin-top: 0;
      text-shadow: none;
      transition: all 0.3s ease;
      line-height: 33px;
      left: 20px;
      top: 7px;
  }
  .tgx-slider-2 .carousel .carousel-control.left {
    margin-left: -50px;
    background-image: none;
  }
  .tgx-slider-2 .carousel .carousel-control.right {
    margin-right: -50px;
    background-image: none;
  }
  .animate-delay-1 {
    animation-delay: .7s;
    -webkit-animation-delay: .7s;
    /* Safari and Chrome */
    -moz-animation-delay: .7s;
    /* Safari and Chrome */
    -o-animation-delay: .7s;
    /* Safari and Chrome */
  }
  .animate-delay-2 {
    animation-delay: 1.1s;
    -webkit-animation-delay: 1.1s;
    /* Safari and Chrome */
    -moz-animation-delay: 1.1s;
    /* Safari and Chrome */
    -o-animation-delay: 1.1s;
    /* Safari and Chrome */
  }
  .animate-delay-3 {
    animation-delay: 1.5s;
    -webkit-animation-delay: 1.5s;
    /* Safari and Chrome */
    -moz-animation-delay: 1.5s;
    /* Safari and Chrome */
    -o-animation-delay: 1.5s;
    /* Safari and Chrome */
  }
  .animate-delay-4 {
    animation-delay: 2s;
    -webkit-animation-delay: 2s;
    /* Safari and Chrome */
    -moz-animation-delay: 2s;
    /* Safari and Chrome */
    -o-animation-delay: 2s;
    /* Safari and Chrome */
  }





  @media screen and (min-width: 1600px) {
      .tgx-slider-2 .carousel-inner
      .item .carousel-caption{
          top:320px !important;
      }
  }


  @media screen and (max-width: 667px) {

      .tgx-slider-2 .carousel-inner .item .carousel-caption{
          width:320px ;
          top:70px ;
      }
      .tgx-slider-2 .carousel-inner .item .carousel-caption .slider-description{
          width:320px;
          font-size: 14px ;
      }
      .tgx-slider-2 .carousel .carousel-inner .item .carousel-image{
          top:450px ;
          left: 100px ;
          right: 0;
      }
  }

  @media screen and (max-width: 480px) {

      .tgx-slider-2 .carousel-inner .item .carousel-caption{
          width:320px ;
          top:70px ;
      }
      .tgx-slider-2 .carousel-inner .item .carousel-caption .slider-description{
          width:320px ;
          font-size: 14px;
      }
      .tgx-slider-2 .carousel .carousel-inner .item .carousel-image{
          top:450px;
          left: 35px;
          right: 0 ;
      }
  }
