

/*=================================================================
 Team Layout 1 start
==================================================================*/

.wk-team{
    .wk-card{
        .wk-card-body{
            padding: 10px 30px 30px;
            .wk-grid-small{
                margin-bottom:-10px;
            }
              .wk-card-title{
                font-size:20px;
              }
              .social-icons{
                a{
                    margin-left: 0px;
                    width: 30px;
                    height: 30px;
                    text-align: center;
                    display: inline-block;
                    line-height: 32px;
                    transition:all 0.3s ease;
                    .wk-icon {
                        svg{
                          height:16px;
                        }
                    }

                }
              
              }
            
      
            .wk-card-designation{
              font-size:14px;
            }
            .wk-text-normal{
              font-size:16px;
            }

        }
    }

    .style-1{
        .wk-card-media-top,
         .wk-card-media-bottom{
           img{
            transform: scale(1);
            transition: all 0.3s ease;
          }

         }
        &:hover{
            img{
              transform: scale(1.1);
              transition: all 0.3s ease;
            }
          }
    }

    .wk-style-2{
        background:transparent;
        .social-icons{
          margin-top:10px;
        }
        .wk-card-media-top,
         .wk-card-media-bottom{
           img{
            border-radius:100%;
          }

         }
    }

    .wk-style-3{
      .wk-card-media-left{
        max-height:450px;
        &:before {
            content: "";
            position: absolute;
            background: red;
            height: 50%;
            width: 5px;
            right: 0;
            z-index: 99;
            top: 0;
            bottom: 0;
            margin: auto;
            border-radius: 100px 0 0 100px;
        }

      }
      .wk-card-media-right{
        max-height:450px;
        &:before {
            content: "";
            position: absolute;
            background: red;
            height: 50%;
            width: 5px;
            left: 0;
            z-index: 99;
            top: 0;
            bottom: 0;
            margin: auto;
            border-radius: 0px 100px 100px 0px;
        }

      }

      .social-icons{
        margin-top:25px;
        a{
        }
      }
    }

    .wk-style-4{
      .wk-card-wrapper{
        img{
          border-radius:10px;
        }
      }
      .wk-card-body{
          bottom: 17px;
          left: 5px;
          right: 60px;
          border-radius: 0px 10px 0 10px;
      }

    }
}

  @media(max-width:480px){
         .wk-card-media-right, .wk-card-media-left{

          &:before {
            display:none;
          }
      }
  }