

/*=================================================================
 Team Layout 1 start
==================================================================*/

.wk-team{
    a{
      cursor:pointer;
    }
    .wk-card{
        .wk-card-body{
            padding: 15px 30px 30px;
            .wk-grid-small{
                margin-bottom:-10px;
            }
              .wk-card-title{
                font-size:18px;
              }
              .social-icons{
                a{
                    margin-left: 0px;
                    width: 30px;
                    height: 30px;
                    text-align: center;
                    display: inline-block;
                    line-height: 36px;
                    transition:all 0.3s ease;

                    .fa-facebook{
                      color:#3b5998;
                    }
                    .fa-twitter{
                      color:#1da1f2;
                    }
                    .fa-linkedin{
                      color:#0077b5;
                    }
                    .fa-youtube{
                      color:#cd201f;
                    }
                    .fa-google{
                      color:#dd4b39;
                    }
                    
                    .fa-vk{
                      color:#45668e;
                    }
                    .fa-dribbble{
                      color:#ea4c89;
                    }
                    .fa-vimeo{
                      color:#1ab7ea;
                    }
                    
                }
              
              }
            
      
            .wk-card-designation{
              font-size:12px;
            }
            .wk-text-normal{
              font-size:16px;
            }

        }
    }

    .wk-style-1{
        background:#fff;
        box-shadow: 1px 1px 10px #00000008;
        .wk-card-media-top,
         .wk-card-media-bottom{
          max-height:200px;
           img{
            transform: scale(1);
            transition: all 0.3s ease;
          }

         }
        &:hover{
            img{
              transform: scale(1.1);
              transition: all 0.3s ease;
            }
        }

      .wk-card-body{
          .wk-card-title{
             text-transform:uppercase;
          }
         .wk-card-designation{
            color:#a6744f;
            text-transform:uppercase;
          }
    
      }


    }

    .wk-style-2{
      text-align:center;
        background:transparent;
        padding: 15px 30px 30px;
        .social-icons{
          margin-top:10px;
        }
        .wk-card-media-top,
         .wk-card-media-bottom{
           margin-bottom:20px;
           a{
            border-radius:100%;
            overflow:hidden;
            margin:auto;
           }
           img{
            border-radius:100%;
            transform: scale(1);
            transition: all 0.3s ease;
          }

        }
        .wk-card-body{
          padding:0;
          .wk-card-title{
             text-transform:uppercase;
          }
      }
        &:hover{
            img{
              transform: scale(1.1);
              transition: all 0.3s ease;
            }
        }
    }

    .wk-style-3{
      .wk-card-media-left{
        max-height:450px;
        &:before {
            content: "";
            position: absolute;
            background: red;
            height: 50%;
            width: 5px;
            right: 0;
            z-index: 99;
            top: 0;
            bottom: 0;
            margin: auto;
            border-radius: 100px 0 0 100px;
        }
        img{
            transform: scale(1);
            transition: all 0.3s ease;
        }

      }
      .wk-card-media-right{
        max-height:450px;
        &:before {
            content: "";
            position: absolute;
            background: red;
            height: 50%;
            width: 5px;
            left: 0;
            z-index: 99;
            top: 0;
            bottom: 0;
            margin: auto;
            border-radius: 0px 100px 100px 0px;
        }
        img{
            transform: scale(1);
            transition: all 0.3s ease;
        }

      }
      &:hover{
          img{
              transform: scale(1.1);
              transition: all 0.3s ease;
            }
        }

      .social-icons{
        margin-top:25px;
        a{
        }
      }
    }




    .wk-style-4{
      .wk-card-wrapper{
        border-radius: 10px;
        img{
          border-radius:10px;
          transform: scale(1);
          transition: all 0.3s ease;
        }
      }
      .wk-card-body{
          bottom: 5px;
          left: 5px;
          right: 60px;
          border-radius: 0px 10px 0 10px;
          transition: all 0.3s ease;
      }
        &:hover{
            img{
              transform: scale(1.1);
              transition: all 0.3s ease;
            }
            .wk-card-body{
              right:5px;
              transition: all 0.3s ease;
            }
        }

    }


    .wk-style-5{
      text-align:center;
      .wk-card-wrapper{
        margin-bottom: -23px;
        img{
          border-radius:10px;
        }
      }
      .wk-card-body{
          bottom:0px;
          left: 0px;
          right: 0px;
          border-radius: 0px 0px 10px 10px;
      }

    }

      .wk-style-6{
          text-align:center;
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
          border-radius: 10px;
          .wk-card-wrapper{
                transition: all .3s cubic-bezier(.175,.885,0,1);
                position: relative;
                overflow: hidden;
                border-radius:10px;
            .wk-card-media {
                  width: 100%;
                  height: 235px;
            }
            &:not(.nohover):hover .wk-card-link {
                height: 100% !important;
                opacity: .2;
                background-size: cover;
                width:100% !important;
                background-color: transparent !important;
                border-radius:0 !important;
                margin:0 auto !important;
            }
            &:not(.nohover):hover .wk-card-hover-bg {
                background-size: cover !important;
                width:100% !important;

            }
          

            &:not(.nohover):hover{
                background-color: rgba(0,0,0,0.87);
            }
              .wk-card-hover-bg {
                transition: .2s all ease-out;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                width:100%;
                height:100%;
            }
            .wk-card-body{
              padding:15px 30px 30px;
            }

            .wk-card-link{
                overflow: hidden;
                display: block;
                width: 200px;
                height: 200px;
                border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
                margin: 25px auto;
                position:absolute;
                left:0;
                right:0;
                transition: .2s all ease-out;
            }

          } 
        
      }
   
}

  @media(max-width:480px){
         .wk-card-media-right, .wk-card-media-left{

          &:before {
            display:none;
          }
      }
  }